# dependencies
frontend/node_modules
.venv_user_tracker

# next.js
frontend/.next
frontend/out/

# production
frontend/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
backend/.env
# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

__pycache__/